/*----- Overpass | Roboto -----*/
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*----- Dank Mono -----*/
@font-face {
  font-family: 'Dank Mono';
  src: url('./fonts/dankMono/DankMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*----- Source Sans Pro -----*/
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/sourceSansPro/SourceSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/sourceSansPro/SourceSansPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/*----- Ubuntu -----*/
@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.dark-mode {
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
}

#modeSwitcher {
  position: fixed;
  top: 1em;
  right: 1em;
  background-color: #000;
  border-radius: 50px;
  height: 46px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#modeSwitcher:hover {
  background-color: #fff;
}

i {
  font-size: 26px;
  color: #fff;
  padding: 0.15em;
}

i:hover {
  color: #000;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background-color: #121212;
  color: #fff;
}

/* Header/logo Title */
.header {
  padding: 38px;
  text-align: center;
  background-image: url(images/new_hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 10em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-shadow: 2px 2px 8px #000;
  margin: 0 auto;
}

#headerLink {
  text-decoration: none;
  color: #fff;
  font-size: 34px;
}

.caseHeader {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin: 0 auto;
  padding-top: 1.25em;
  text-shadow: none;
}

#headerParagraph {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
  margin: 0 auto;
  padding-top: 1em;
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 48px;
    }

    #headerParagraph {
      font-size: 16px;
    }
}

/* Column container */
.row {
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 0 2em;
}

@media screen and (min-width: 600px) {
    .row {
      padding: 0 8em;
    }
}

@media screen and (min-width: 1024px) {
    .row {
      padding: 0 16em;
    }
}

@media screen and (min-width: 1600px) {
    .row {
      padding: 0 32em;
    }
}

@media screen and (min-width: 3840px) {
    .row {
      padding: 0 48em;
    }
}


/* Main column */
.main {
  flex: 70%;
  padding-top: 1em;
  padding-bottom: 6em;
}

h2 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0 auto;
  padding-bottom: 0.5em;
  padding-top: 1.25em;
}

h4 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
  padding-top: 1.25em;
  padding-bottom: 1em;
}

p {
  margin-top: 0px;
}

p, li {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

span {
  font-family: 'Dank Mono','Courier New', monospace;
  font-size: 18px;
}

span.imageCaption {
  float: right;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  font-size: 16px;
}

li {
  list-style-type: square;
}

.hUnderImg {
  padding-top: 2.5em;
}

.pUnderImg {
  padding-top: 2.5em;
}

@media screen and (max-width: 600px) {
    p {
      font-size: 18px;
    }

    h2 {
      font-size: 28px;
    }
}

.image {
  max-width: 100%;
  padding: 0 20px;
}

/* Footer */
.footer {
  padding: 12px;
  text-align: center;
  background: #252525;
}

#footerText {
  font-family: 'Overpass', Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
}

#footerCopyright {
    font-family: 'Overpass', Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 12px;
  }

#footerLink:link {
  color: #4B8178;
  text-decoration: none;
}

#footerLink:visited {
    color: #005b4b;
    text-decoration: none;
}

#footerLink:hover {
    color: #ffedcb;
    text-decoration: none;
}

#cliffGif {
  max-width: 50px;
  height: auto;
  margin: auto 0;
}

/* Button */
.projectButton {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: rgb(50, 50, 50);
  color: white;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.projectButton:hover {
  background-color: #555;
}

/* HOVER STYLES */

/* unvisited link */
a.links:link {
  color: #7878ff;
  text-decoration: none;
}

/* visited link */
a.links:visited {
  color: #0066ff;
  text-decoration: none;
}

/* mouse over link */
a.links:hover {
  color: #9a9aff;
  text-decoration: none;
}

/* selected link */
a.links:active {
  color: #316ae6;
  text-decoration: none;
}

a.links {
  font-family: 'Roboto', sans-serif;
}

img.image {
  margin: 2rem 0;
}

#fix1, #fix2, #fix3 {
  max-width: 100%;
  padding: 0 20px;
  height: 40rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
